{% extends "base.html" %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Página Inicial - Django{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">{% block header %}Bem-vindo(a)!{% endblock %}</h1>
        </header>

        <section>
            <p class="text-center">
                {% block content %}Task Manager{% endblock %}
            </p>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</bo

