<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Inicial - Django</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Bem-vindo(a)!</h1>
        </header>

        <section>
            <p class="text-center">
                Esta é a página inicial de um projeto Django! Aproveite para explorar!
            </p>
        </section>

        <footer class="text-center mt-5">
            <p>&copy; 2024 Meu Projeto Django. Todos os direitos reservados.</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
